registry = https://nexus.tcsbank.ru/repository/npm-all/
@pvm:registry = https://nexus.tcsbank.ru/repository/npm-all/
strict-ssl = false
ca = ''
engine-strict = true

puppeteer_skip_chromium_download = true
